[submodule "zoom-enhance"]
	path = zoom-enhance
	url = https://github.com/DavidBuchanan314/zoom-enhance.git
[submodule "ocrsim"]
	path = ocrsim
	url = https://github.com/DavidBuchanan314/ocrsim
[submodule "asteroids"]
	path = asteroids
	url = https://github.com/DavidBuchanan314/asteroids
